.user-item-container{
    display: flex;
    cursor: pointer;
    background-color: rgb(225, 216, 216);
    border-radius: 10px;
    height: 70px;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 4px;
}


.user-item-image img{
    width: 50px;
    margin-right: 10px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

.user-item-info{
    display: flex;
}


.user-item-username{
    font-weight: 600;
}

.user-date-status .user-item-status{
    color: #55a630;
    
}

.user-date-status .user-item-status.inactive{
    color: black;

}